button {
  cursor: pointer;
  background-color: #01b4ff;
  border: 2px solid #01b4ff;
  color: white;
  width: clamp(10rem, 16rem, 20rem);
  border-radius: 50px;
  height: 4vh;
  transition: all 0.3s ease;
}

button:hover {
  transform: scale(1.07);
}

button:disabled {
  background-color: rgb(183, 183, 183);
  border: 2px solid rgb(183, 183, 183);
}

.error {
  background-color: red;
  border: 2px solid red;
}
