.profile-form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.profile-error {
  color: red;
}

.cta-group {
  margin: 20px 0 20px 0;
  display: flex;
  gap: 10px;
}

.save-button {
  align-self: center;
}

.profile-success {
  color: green;
}

.lougout-wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
}
